body {
    margin: 0;
}

/* header */
header {
    background-color: #4ea1ff;
    background-image: url("../img/pattern.png");
    background-size: 35%;
}

#headerTitle {
    margin-top: 3%;
    width: 20%;
}

/* fine header */