body {
    margin: 0;
    padding: 0;
}

/* header */
header {
    background:#4ea1ff url("../img/pattern.png") repeat;
    background-size: 550px;
    height: 142px;
}

.logo img {
   height: 70px;
   margin-top: 55px;
   margin-left: 10px;
}
/* fine header */

/* main */
main {
    margin-left: 10px;
}

/* firstSection */
main h1 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: -20px;
    color: black;
}

#firstSection {
    color: grey;
    font-size: 20px;
}

.blueFont {
    color: #4ea1ff;
}

.dataArticle {
    margin-top: -18px;
    font-size: 15px;
}
/* fine firstSection */

/* secondSection */
#secondSection div {
    margin-bottom: -15px;
}

.attachPhrase {
    margin-top: -15px;
}
/* fine secondSection */

/* thirdSection */
#thirdSection {
    font-size: 20px;
}

.highlighted {
    background-color: yellow;
}

#thirdSection ul {
    margin-left: -20px;
}

#thirdSection table{
    border-spacing: 0px;
}

#thirdSection table tbody td{
    padding-right: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#thirdSection table thead {
    background-color: #1eabe4;
    color: white;
    font-weight: bold;   
}

#thirdSection table tbody tr{
    background-color: #b1e6f2;
}

#thirdSection table tbody .whiteRow {
    background-color: white;
}

/* fine thirdSection */

/* fine main */

/* footer */
footer {
    margin-left: 10px;
}

footer p {
    color: grey;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: -1px;
}

footer span {
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 24px;
}

#containerFooter {
    margin-top: 10px;
}

.footerImg {
    width: 270px;
    overflow: hidden;
    margin-top: 8px;
}
/* fine footer */