body {
    margin: auto;
}

/* header */
header {
    background-color: #4ea1ff;
    background-image: url("../img/pattern.png");
    background-size: 35%;
}

#headerTitle {
    margin-top: 3%;
    width: 20%;
}
/* fine header */

/* footer */
footer p {
    color: grey;
    font-weight: bold;
}

#footerMonitorImg {
    background-image: url("../img/monitor.jpg");
    width: 270px;
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
}

#footerGraphicImg {
    background-image: url("../img/graph.jpg");
    width: 270px;
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
}
/* fine footer */